/*  your css code here. If applicable */
 table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      background-color: yellow;
      text-align: center;
      padding: 8px;
    }
    caption {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 8px;
    }